:root {
  --beige-color: #fef3c7;
  --navy-color: #1f2937;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--navy-color);
  width: 100vw;
  height: 100vh;
  height: 365px;
  color: var(--beige-color);
  padding: 0px 64px;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 365px;
  gap: 64px;
}

h1 {
  font-size: 20px;
  font-family: "Sequel100black-75";
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

a {
  color: var(--beige-color);
  text-decoration: none;
  font-size: 14px;
}

.links-one,
.links-two {
  font-family: "roboto mono";
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links-one {
  gap: 12px;
}

.links-one :not(:first-child) {
  line-height: 56px;
}

.links-two-without-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 56px;
  gap: 12px;
}

.icon {
  width: 38px;
  height: 38px;
}

.icon-group {
  display: flex;
  flex-direction: row;
}

.rightside {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  font-size: 30px;
  width: 381px;
  gap: 22px;
}

#rightside-gap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

input::placeholder {
  color: var(--beige-color);
  font-family: "roboto mono";
  font-weight: lighter;
}

input {
  display: flex;
  border-radius: 8px;
  background-color: var(--navy-color);
  border-color: var(--beige-color);
  color: var(--beige-color);
  width: 100%;
  height: 40px;
  border: 1px solid;
  padding-left: 19px;
}

button {
  border-radius: 8px;
  background-color: var(--beige-color);
  border-color: var(--beige-color);
  color: var(--navy-color);
  border: none;
  width: 100%;
  height: 60px;
  font-family: "Sequel100black-75";
  font-weight: lighter;
  cursor: pointer;
}

.image {
  width: 134px;
  height: 145px;
  filter: sepia(60%) saturate(230%) brightness(100%);
}

.xp-by-captain {
  text-align: center;
  font-size: 14px;
  font-family: "roboto mono";
  border-top: 1px solid var(--beige-color);
  font-weight: lighter;
  padding: 20px 0;
}
