@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

:root {
  --beige-color: #fef3c7;
  --navy-color: #1f2937;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--navy-color);
  height: 365px;
  color: var(--beige-color);
  padding: 0px 64px;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 365px;
  gap: 64px;
}

h1 {
  font-size: 20px;
  font-family: "Sequel100black-75";
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

a {
  color: var(--beige-color);
  text-decoration: none;
  font-size: 14px;
}

input::placeholder {
  color: var(--beige-color);
  font-family: "Roboto Mono";
  font-weight: lighter;
}

input {
  display: flex;
  border-radius: 8px;
  background-color: var(--navy-color);
  border-color: var(--beige-color);
  color: var(--beige-color);
  width: 100%;
  height: 40px;
  border: 1px solid;
  padding-left: 19px;
}

button {
  border-radius: 8px;
  background-color: var(--beige-color);
  border-color: var(--beige-color);
  color: var(--navy-color);
  border: none;
  width: 100%;
  height: 60px;
  font-family: "Sequel100black-75";
  font-weight: lighter;
  cursor: pointer;
}
